$color-gradient-primary: rgb(30, 115, 172);
$color-gradient-secondary: rgb(142, 57, 153);

$color-card-1-primary: rgb(236, 160, 38);
$color-card-1-secondary: rgba(185, 19, 19, 0.911);
$color-card-2-primary: rgb(156, 18, 131);
$color-card-2-secondary: rgb(170, 43, 21);
$color-card-3-primary: rgb(68, 178, 230);
$color-card-3-secondary: rgb(5, 4, 77);
$color-card-4-primary: rgb(107, 51, 14);
$color-card-4-secondary: rgb(151, 143, 28);
$color-card-5-primary: rgb(57, 107, 42);
$color-card-5-secondary: rgb(27, 46, 33);
$color-card-6-primary: rgb(131, 131, 131);
$color-card-6-secondary: rgb(46, 46, 46);

$color-primary: #4C5F9A;
$color-secondary: #64495E;
$color-tertiary: #d5808e;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 95rem;
$gutter-vert: 4rem;
$gutter-vert-sm: 3rem;
$gutter-horiz: 5rem;

$default-font-size: 1.6rem;