.composition {
    position: relative;
    &__photo {
        width: 50%;
        -webkit-filter: drop-shadow(1px 1px 2px #222);
        filter: drop-shadow(1px 1px 2px #222);
        border-radius: 2px;
        z-index: 10;
        transition: all .2s;
        position: absolute;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 28.333333%;
        }
        
        &--p1 {
            left: 0;
            top: -1rem;

            @include respond(tab-port) {
                top: 0;
            }
        }

        &--p2 {
            right: 5%;
            top: 2rem;

            @include respond(tab-port) {
                top: 0;
                right: 0;
                z-index: 100;
            }
        }

        &--p3 {
            width: 45%;
            left: 20%;
            top: 10rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
                width: 28%;            
            }
        }

        &:hover {
            transform: scale(1.1) translateY(0.2rem);
            -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
            filter: drop-shadow(1.5px 1.5px 4px #222);
            z-index: 20;
        }
    }
}