.composition {
    position: relative;
    &__photo {
        width: 50%;
        -webkit-filter: drop-shadow(1px 1px 2px #222);
        filter: drop-shadow(1px 1px 2px #222);
        border-radius: 2px;
        z-index: 10;
        transition: all .2s;
        position: absolute;
        
        &--p1 {
            left: 0;
            top: -1rem;
        }

        &--p2 {
            right: 5%;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.1) translateY(0.2rem);
            -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
            filter: drop-shadow(1.5px 1.5px 4px #222);
            z-index: 20;
        }
    }
}