.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    &--main {
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
        line-height: 1.3;
        display: block;
        font-size: 6.5rem;
        font-weight: 400;
        letter-spacing: 0.6rem;
        animation: leftIn 0.75s ease-out;
        // /* backface-visibility: hidden; */
    }
    &--sub {
        @include respond(phone) {
            letter-spacing: 0.5rem;
        }
        display: block;
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        animation: rightIn 0.75s ease-out;
        /* backface-visibility: hidden; */
    }
}

body {
    font-family: "Lato",
    sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform:  skewX(2deg) skewY(1deg);
        text-shadow: 1rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-secondary-sm {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    &:hover {
        transform: skewX(2deg) skewY(1deg);
        text-shadow: 1rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-fourth {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to left, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    transition: all .2s;
    &:hover {
        transform: skewX(2deg) skewY(1deg);
        text-shadow: 1rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}



.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}